
</div>
<div class="footer-padding"></div>
<div class="compose-btn d-flex justify-content-center">
  <a href="/compose"class="btn btn-primary btn-lg btn-block">Compose</a>
</div>
  <div class="footer">
    <p>Made By Hector Oropesa 🕹</p>
  </div>
</div>
</body>
</html>
